/a
/data-ri-multi.rsc

/locale-ri-be.rsc
/locale-ri-bg.rsc
/locale-ri-cs.rsc

/locale-ri-da.rsc

/locale-ri-de.rsc

/locale-ri-el.rsc

/locale-ri-en-gb.rsc
/locale-ri-en-us.rsc

/locale-ri-es-es.rsc
/locale-ri-es-la.rsc

/locale-ri-et.rsc

/locale-ri-fi.rsc
/locale-ri-fr-ca.rsc

/locale-ri-fr.rsc

/locale-ri-fy.rsc
/locale-ri-hi.rsc

/locale-ri-hr.rsc
/locale-ri-hu.rsc
/locale-ri-id.rsc

/locale-ri-it.rsc

/locale-ri-ja.rsc

/locale-ri-ka.rsc

/locale-ri-ko.rsc
/locale-ri-lt.rsc

/locale-ri-mk.rsc
/locale-ri-nb.rsc

/locale-ri-nl.rsc

/locale-ri-nn.rsc
/locale-ri-pl.rsc

/locale-ri-pt-br.rsc

/locale-ri-pt.rsc
/locale-ri-ru.rsc

/locale-ri-sk.rsc
/locale-ri-sr.rsc
/locale-ri-sv.rsc

/locale-ri-ta.rsc

/locale-ri-te.rsc

/locale-ri-tr.rsc

/locale-ri-uk.rsc
/locale-ri-vi.rsc

/locale-ri-zh-cn.rsc
/locale-ri-zh-tw.rsc

/skin-hvga-multi.rsc

/skin-qvga-multi.rsc
/skin-vga-multi.rsc
