/be.lng
/bg.lng

/cs.lng
/da.lng
/de.lng

/el.lng

/en-GB.lng
/english.lng

/es-ES.lng
/es-LA.lng

/et.lng
/fi.lng
/fr-CA.lng

/fr.lng

/fy.lng
/hi.lng
/hr.lng
/hu.lng

/id.lng
/it.lng
/ja.lng

/ka.lng

/ko.lng
/lt.lng

/mk.lng
/nb.lng

/nl.lng
/nn.lng
/pl.lng

/pt-BR.lng

/pt.lng
/ru.lng
/sk.lng
/sr.lng

/sv.lng
/ta.lng
/te.lng

/tr.lng

/uk.lng
/vi.lng

/zh-cn.lng
/zh-tw.lng
