/blank.gif
/delete.png

/drive.gif
/error.png

/file.gif

/folder.gif

/forward.png

/info.png

/link.gif
/missingplugin.svg

/missingpluginhover.svg

/oom.png

/open.png

/question.png

/reload.png
/stop.png
/trash.png
/warning.png
